@font-face {
    font-family: 'Ghotam';
    src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
    font-family: 'Ghotam-light';
    src: url('../fonts/Gotham-Light.otf');
}

@font-face {
    font-family: 'Bold-Italika';
    src: url('../fonts/Gotham-BoldIta.otf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ghotam-light', serif;
}

a:hover {
    text-decoration: none;
}

h2 {
    font-size: 1.7rem;
}

.row {
    margin: 0;
}

.mt-7 {
    margin-top: 7rem;
}

.mt-8 {
    margin-top: 8rem;
}

.bg-blue {
    background: #0086be;
}

.bg-rosa {
    background: #ba007c !important;
}

.bg-yellow {
    background: #eed836;
}

.bg-yellow-2 {
    background: #feee00;
}

.text-rosa {
    color: #ba007c !important;
}

.border-left {
    border-left: 2px dashed #ba007c !important;
}

/* Nav */
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: .8rem;
}

/* Home */

.home {
    height: 100vh;
}

.home .box {
    width: 30%;
    position: relative;
}

.home h1 {
    position: absolute;
    bottom: -1.5rem;
    font-size: .9rem;
    text-align: center;
    width: 60%;
}

.home h3 {
    position: absolute;
    bottom: 0;
    font-size: 2rem;
}

/* About */
.about h2 {
    color: #ba007c;
    font-family: 'Gotham-light', serif;
}

.about h2::after {
    content: '';
    position: relative;
    height: 1px;
    top: 0;
    left: -86px;
    display: block;
    background: black;
    margin: 1.5rem 0;
    width: 360px;
}

.about p span:nth-child(1) {
    color: #ffffff;
    background: #0086be;
    /* color: #ffffff; */
    /* animation-name: sombra-blue;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
}

.about p span:nth-child(2) {
    background: #ba007c;
    color: #ffffff;
    /*
    animation: sombra-pink 5s;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
}

.about img.position-absolute {
    width: 350px;
    right: 0;
    top: 0;
}

/* Nosotros */
.nosotros {
    margin-top: 8rem;
}

.nosotros h2::after {
    content: '';
    position: relative;
    height: 1px;
    top: 0;
    right: -45px;
    display: block;
    background: black;
    margin: 1.5rem 0;
    width: 380px;
}

.nosotros h2 {
    color: #0086be;
}

.nosotros p {
    width: 100%;
}

.nosotros p span:nth-child(1) {
    /* animation: sombra-pink-2 5s infinite;
    -webkit-animation: sombra-pink-2 5s infinite; */
    background: #ba007c;
    color: #ffffff;
}

.nosotros p span:nth-child(2) {
    font-family: 'Bold-Italika', serif;
}

.nosotros .col-md-8 p:nth-child(3) span:nth-child(1) {
    /* animation: sombra-blue-2 5s infinite;
    -webkit-animation: sombra-blue-2 5s infinite; */
    color: #ffffff;
    background: #0086be;
}

.nosotros .col-md-8 p:nth-child(3) span:nth-child(2) {
    font-family: 'Bold-Italika', serif;
}

/* Retail */
.retail .rotateOut {
    z-index: 12;
    background: white;
    border-radius: 50%;
}

.retail img.logo {
    z-index: 13;
    position: absolute;
}

/* .retail a {
    font-size: 1.5rem;
} */

.retail a span,
.retail a.text-rosa {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.retail a span::after {
    content: '';
    display: block;
    position: absolute;
    width: 350px;
    left: -355px;
    border: 2px dashed #0086be;
}

.retail a.text-rosa::after {
    content: '';
    display: block;
    position: absolute;
    width: 320px;
    left: -275px;
    border: 2px dashed #ba007c;
}

.retail a:nth-last-child(1)::after {
    width: 360px;
    left: -365px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    /* background: red !important; */
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
}

.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    background: rgba(0, 0, 0, .7);
    width: 30px;
    height: 30px !important;
    border-radius: 50%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:focus {
    outline: 0;
    border: none;
    box-shadow: 0;
}

/* display: block;

/* Activaciones */
.activaciones img {
    width: 80%;
}

/* Event Marketing */
.event .col-md-3 {
    display: flex;
    align-items: center;
    padding: 0 2rem !important;
}

.event .col-md-3 h4 {
    width: 100%;
}

.event .gallery {
    height: 320px;
    overflow: hidden;
}

.event .gallery .box-1,
.event .gallery .box-2,
.event .gallery .box-4,
.event .gallery .box-5 {
    height: 155px;
    overflow: hidden;
}

.event .gallery .box-2,
.event .gallery .box-4,
.event .gallery .box-5 {
    margin-top: 10px;
}

.event .gallery .box-1 img,
.event .gallery .box-2 img,
.event .gallery .box-4 img,
.event .gallery .box-5 img {
    top: -60px;
    position: relative;
}

.event .gallery .box-3 {
    height: 155px;
    overflow: hidden;
    background-image: url(../img/Convenciones/1.png);
    background-size: cover;
    background-position: center;
}

.event .gallery-team {
    height: 320px;
    overflow: hidden;
}

.event .gallery-team .box-1,
.event .gallery-team .box-2,
.event .gallery-team .box-4,
.event .gallery-team .box-5 {
    height: 155px;
    overflow: hidden;
}

.event .gallery-team .box-2,
.event .gallery-team .box-4,
.event .gallery-team .box-5 {
    margin-top: 10px;
}


/* Digital */

.digital .sita {
    width: 75%;
    margin: 2rem auto;
    font-size: 2rem;
    padding: 1rem;
    position: relative;
}

.digital ul li {
    padding: 0 1rem;
}

.digital>.row ul li:nth-child(even) {
    background: #000;
    color: #eed836;
}

.digital>.row h3::after {
    content: '';
    position: relative;
    height: 1px;
    top: 0;
    left: -86px;
    display: block;
    background: #ba007c;
    width: 360px;
    margin-top: .5rem;
}

.digital .abre {
    position: absolute;
    width: 70px;
    top: -21px;
    left: -7%;
}

.digital .cierra {
    width: 70px;
    position: absolute;
    right: -2%;
    bottom: -21px;
}

.metodologia ul li {
    margin: 1rem;
    padding: 0;
    color: #0086be;
}

.metodologia .sita {
    display: inline-block;
    width: auto;
    color: white;
    padding: .5rem;
    font-size: 1.5rem;
}

.metodologia .cierra {
    width: 35px;
    bottom: -10px;
    right: -15px;
}

.metodologia .abre {
    width: 35px;
    top: -10px;
    left: -15px;
}

/* Contacto */
.contacto .col-md-4 p {
    display: inline-block;
    margin: 0;
    padding: .2rem 1rem;
    font-size: 1.3rem;
}

.box-form {
    background: #ba007c;
    padding: 1rem;
    color: white;
    text-align: right;
}

.box-form p {
    font-size: 1.3rem;
    font-family: 'Bold-Italika', serif;
}

.box-form input,
.box-form textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
}

.box-form .form-control:focus {
    background: #ba007c;
    outline: 0;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

.contacto .whatsapp {
    border: 2px solid #ba007c;
    padding: .2rem;
    border-radius: 50%;
}

/* Footer */
footer {
    /* background: #ba007c; */
    background: #0086be;
}

footer .redes a,
footer .redes p {
    font-size: .8rem;
    margin: 0;
    color: #ffffff;
}

/* Modal */
#modalpantallasvapor .modal-content,
#modalventilador .modal-content {
    background: transparent;
    border: none;
}


@media (min-width:992px) {
    .activaciones {
        height: 300px;
    }

    .retail a {
        font-size: 1.5rem;
    }

    .activaciones {
        height: 350px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}

/* Max-Width */
@media(max-width:992px) {
    .experiencial h3 {
        font-size: 1.2rem;
    }

    .digital .sita {
        width: 80%;
    }

    .contacto {
        height: calc(100vh - 140px) !important;
        display: flex;
        align-items: center;
    }

    .navbar-contacto {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .contacto footer {
        position: fixed;
        bottom: 0;
    }

    .home .box {
        width: 60%;
    }
}

@media (max-width:767px) {
    .navbar .logo {
        width: 55px;
    }

    .home .box {
        width: 70%;
    }

    .nosotros {
        margin-top: 3rem;
    }

    .about h2,
    .nosotros h2 {
        font-size: 1.3rem;
    }

    .activaciones p.position-absolute {
        font-size: .85rem;
    }

    .activaciones img {
        width: 90%;
    }

    .retail a span::after,
    .retail a.text-rosa::after {
        display: none;
    }

    .digital .sita {
        width: 90%;
    }

    .contacto {
        height: auto !important;
    }

    .contacto .logo {
        width: 250px;
        margin: 1rem auto;
        display: block;
    }

    .navbar-contacto {
        position: relative;
    }

}


@keyframes sombra-blue {
    0% {
        box-shadow: 0 0 #0086be inset;

    }

    100% {
        box-shadow: 135px 0 #0086be inset;
        color: #ffffff;
    }
}

@keyframes sombra-blue-2 {
    0% {
        box-shadow: 0 0 #0086be inset;
    }

    80% {
        background: #0086be;
    }

    100% {
        box-shadow: 175px 0 #0086be inset;
        color: #ffffff;
    }
}

@keyframes sombra-pink {
    0% {
        box-shadow: 0 0 #ba007c inset;

    }

    100% {
        box-shadow: 401px 0 #ba007c inset;
        color: #ffffff;
    }
}

@keyframes sombra-pink-2 {
    0% {
        box-shadow: 0 0 #ba007c inset;

    }

    100% {
        box-shadow: 383px 0 #ba007c inset;
        color: #ffffff;
    }
}